extends ./html.pug
block content
	div
		form
			.basic
				div
					input(type="text", name="character-name", id="character-name")
					label(for="character-name") Character Name
				div
					div
					div Aligment
				div
					div
					div Race
				div
					div
					div Class
				div
					div
					div Deity
				div
					div
					div Size
				div
					div
					div Gender
				div
					div
					div Age
				div
					div
					div Height
				div
					div
					div Weight
				div
					div
					div Hair
				div
					div
					div Eyes
			.comun-1
				.stats-label
					.
				.stats
					.stat-row
						.stat-title