extends ./html.pug
block content
	.login-form
		form
			div
				input(type="text", name="email", placeholder="E-mail", id="email")
			div
				input(type="password", name="password", placeholder="Password")
			div
				button(value="Login") Login